@import "./common";
@import "./font";
@import "./header";

.nav-item {
  .nav-link {
    padding: 15px !important;
    color: #2f3542 !important;
    width: 15% !important;
    &:hover {
      background: #2f3542 !important;
      border-radius: 05px !important;
      color: #fff !important;
    }
  }

  .active {
    color: #fff !important;
    padding: 15px !important;
    background-color: #2f3542 !important;
    border-radius: 05px !important;
  }
}
